@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-color-primary: #000000;
    --card-title-border-color: #770320;
    --card-bg-color: #eeeeee;
    --hours-text-color: #1d1c19;
    --date-text-color: #e21346;
    --background-body-size: 100%;
    --bg: url(./assets/bg-rosa.jpg);
}

body.yellow {
    --card-color-primary: #f7dd43;
    --card-title-border-color: #746615;
    --card-bg-color: #1d1c19;
    --hours-text-color: #E1E1E6;
    --date-text-color: #39ee51;
    --background-body-size: 100%;
    --bg: url(./assets/bg-yellow.jpg);
}

body.blue {
    --card-color-primary: #338AF3;
    --card-title-border-color: #338AF3;
    --card-bg-color: #202024;
    --hours-text-color: #E1E1E6;
    --date-text-color: #f8f8f8;
    --background-body-size: 100%;
    --bg: url(./assets/bg-blue.jpg);
}

body.green {
    --card-color-primary: #047C3F;
    --card-title-border-color: #047C3F;
    --card-bg-color: #1a1f1b;
    --hours-text-color: #E1E1E6;
    --date-text-color: #f7dd43;
    --background-body-size: 100%;
    --bg: url(./assets/bg-green.jpg);
}

header {
    margin-bottom: 20px;
    text-align: center;
}

header img {
    max-width: 340px;
}

ul{
    list-style: none;
}

body {
    background-color: #121214;
    background-image: var(--bg);
    background-position: top center;
    background-size: var(--background-body-size);
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 40px;
}

.container_theme {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 45px;
    margin-bottom: 27px;
}

.container_theme img {
    max-width: 380px;
}

.btn-theme {
    width: 22px;
    height: 22px;
    
    cursor: pointer;
    
    border-radius: 10px;
    border-color: #fff;
}

.js-theme-default:hover {
    background-color: #e21346;
    transition: 0.5s;
}

.js-theme-green:hover {
    background-color: #01c532;
    transition: 0.5s;
}

.js-theme-blue:hover {
    background-color: #338AF3;
    transition: 0.5s;
}

.js-theme-yellow:hover {
    background-color: #f7dd43;
    transition: 0.5s;
}

#cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 350px;
    justify-content: center;
}

.card {
    padding: 32px 23px;
    text-align: center;
    margin: 0.5rem;
    
    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px;

    color: var(--date-text-color);
}

.card h2 span {
    font-size: 14px;
    text-transform: uppercase;
    
    color: var(--date-text-color);
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;

    color: var(--hours-text-color);
}

.card h2:hover,
.card ul li strong:hover, 
.card ul li img:hover,
.container_theme:hover,
header img:hover {
    transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img,
.container_theme:hover,
header img:hover {
    transition: transform 0.5s;
}

.card {
    opacity: 0;
    animation: appear .2s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 992px){
    header {
        margin-bottom: 18px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    header img {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    #cards {
        max-width: 1060px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}